@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden; }

html {
  /* font-size: 10px;
   means that 1 rem is always 10px */
  font-size: 62.5%;
  /* default browser font size is 16px
  .625 * 16 = 10
  now the default font size is 10px */ }

a,
a:hover {
  text-decoration: none; }

ul {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
a {
  font-family: 'Cabin', sans-serif; }

h1 {
  font-size: 4.5rem; }

/* h2 {
  font-size: ;
} */
h3 {
  font-size: 2.5rem; }

/* h4 {
  font-size: ;
} */
h5,
a {
  font-size: 1.4rem; }

header {
  height: 100vh;
  position: relative; }

.h-copy {
  text-align: left;
  color: #FFF;
  position: absolute;
  top: 12rem;
  left: 6rem; }
  .h-copy h1 {
    margin-top: 0.5rem; }
  .h-copy h3 {
    margin: 1rem 0 3rem; }
  .h-copy h5 {
    line-height: 1.5; }

#h-logo {
  width: 20rem; }

nav {
  background-color: #000;
  width: 100vw;
  height: 6rem;
  position: absolute;
  z-index: 10001; }

.nav-content {
  display: flex;
  justify-content: space-between;
  margin: 2rem 6rem 0; }

.nav-links {
  display: flex; }
  .nav-links li:not(:last-child) {
    padding-right: 2rem; }
  .nav-links a,
  .nav-links a:hover {
    color: #FFF; }

#nav-logo {
  width: 8rem;
  height: 3rem;
  margin-top: -.5rem; }
