@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden; }

html {
  /* font-size: 10px;
   means that 1 rem is always 10px */
  font-size: 62.5%;
  /* default browser font size is 16px
  .625 * 16 = 10
  now the default font size is 10px */
  width: 100vw; }

a,
a:hover {
  text-decoration: none; }

ul {
  list-style: none; }

button {
  border: none;
  cursor: pointer; }

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  display: inline !important; }

h1,
h2,
h3,
h4,
h5,
a {
  font-family: 'Cabin', sans-serif; }

h1 {
  font-size: 4.5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem; }

h5,
a {
  font-size: 1.7rem; }

p {
  font-size: 1.3rem;
  font-family: 'Open Sans', sans-serif; }

.container {
  width: 85vw;
  margin: 0 auto; }

.hr-style {
  border: 0;
  height: 1px;
  width: 50vw;
  margin: auto;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0)); }

#prod-features {
  width: 85vw;
  overflow: hidden;
  margin-bottom: 0 !important;
  margin: 8rem auto; }

.pf-copy {
  width: 35vw; }
  .pf-copy h2 {
    margin-bottom: 2rem; }

.img-btn,
.pick-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.pick-btn {
  position: absolute;
  right: 60rem;
  bottom: -95rem; }

.cp-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid #EBEAEA;
  box-shadow: inset 0 0 0 2px #FFF;
  margin: 0 .5rem;
  cursor: pointer; }

#btn-pink {
  background: linear-gradient(-45deg, #C4398D, #C4398D 49%, #FFF 49%, #FFF 51%, #bbb 51%); }

#btn-purple {
  background: linear-gradient(-45deg, #000, #000 49%, #FFF 49%, #FFF 51%, #694CA8 51%); }

.select-buttons {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(14, 1fr); }

.select-buttons,
#color-pick-img {
  height: 50rem;
  width: 22rem;
  position: absolute;
  right: 28rem;
  bottom: -95rem; }

.plus-btn {
  width: 3rem;
  height: 3rem;
  color: #C4398D;
  background-color: rgba(48, 48, 48, 0.4);
  border-radius: 50%;
  font-size: 2rem;
  position: absolute; }
  .plus-btn:nth-child(1) {
    grid-area: 1 / 8; }
  .plus-btn:nth-child(2) {
    grid-area: 2 / 2; }
  .plus-btn:nth-child(3) {
    grid-area: 5 / 7; }
  .plus-btn:nth-child(4) {
    grid-area: 8 / 3; }
  .plus-btn:nth-child(5) {
    grid-area: 10 / 6; }
  .plus-btn:nth-child(6) {
    grid-area: 12 / 3; }
  .plus-btn:nth-child(7) {
    grid-area: 13 / 6; }

.pf-text {
  margin-top: 20rem;
  display: none;
  background-color: #303030;
  color: #FFF;
  padding: 3.5rem 2.5rem; }
  .pf-text .pf-next {
    font-size: 1.6rem;
    color: #FFF; }

.txt-show {
  display: block !important; }

@media (orientation: portrait) {
  .pf-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .pf-copy {
    width: 100%; }
    .pf-copy .pf-text {
      margin: 3rem 0; }
  .img-btn {
    display: block; }
    .img-btn img {
      position: absolute;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      right: 0 !important;
      bottom: 0 !important;
      height: 40rem !important;
      width: auto !important;
      margin: 0 !important; }
  .select-buttons {
    right: 0;
    bottom: 0; }
  .select-buttons,
  #color-pick-img {
    position: relative;
    margin-top: -38rem;
    height: 38rem;
    width: 26rem; }
  .plus-btn {
    display: block; }
    .plus-btn:nth-child(1) {
      grid-area: 1 / 7; }
    .plus-btn:nth-child(2) {
      grid-area: 2 / 4; }
    .plus-btn:nth-child(4) {
      grid-area: 8 / 4; }
    .plus-btn:nth-child(5) {
      grid-area: 10 / 7; }
    .plus-btn:nth-child(6) {
      grid-area: 12 / 4; }
    .plus-btn:nth-child(7) {
      grid-area: 13 / 7; } }

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .img-btn {
    display: flex !important;
    justify-content: space-around !important; }
    .img-btn img {
      position: relative !important;
      margin-left: -85rem !important;
      margin-top: -20vw !important;
      height: 85vw !important; }
    .img-btn .select-buttons,
    .img-btn #color-pick-img {
      transform: rotate(90deg);
      margin-top: -55rem;
      height: 30rem;
      width: 90rem; }
  .select-buttons {
    display: none; } }

#brand-features {
  margin: 3rem auto; }
  #brand-features h3 {
    margin-bottom: 1rem; }

.bf-grid {
  border-top: 1px #EBEAEA solid;
  border-bottom: 1px #EBEAEA solid;
  padding: 1rem 0; }
  .bf-grid .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem; }

.b-feature {
  display: flex; }
  .b-feature i {
    font-size: 2rem;
    padding: .5rem 1rem 0 0; }

@media (orientation: portrait) {
  .bf-grid .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .b-feature {
    padding: 1rem 0; } }

#offer {
  width: 100vw;
  height: 75vh;
  background-image: url("../../images/dyson-offer.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 1.5rem; }

.offer-details {
  width: 34vw;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 10rem; }
  .offer-details h2 {
    margin-top: 3rem;
    margin-bottom: 1rem; }
  .offer-details h3 {
    margin-top: 5rem; }
  .offer-details i,
  .offer-details a {
    color: #000;
    font-size: 2rem; }

#offer-logo {
  width: 20rem; }

@media (orientation: portrait) {
  #offer {
    margin-top: -.4rem;
    background-position: right; }
  .offer-details {
    width: 100vw;
    height: 100%;
    position: relative !important;
    top: 0;
    color: #FFF;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); }
    .offer-details::after {
      content: "";
      background-color: #000;
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; }
    .offer-details i,
    .offer-details a {
      color: #FFF; }
    .offer-details h2,
    .offer-details h4,
    .offer-details h3 {
      margin-left: 2rem; }
  #offer-logo {
    margin: 10rem 0 0 2rem; } }

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  #offer {
    height: 40vh; }
  h2,
  h4,
  h3 {
    margin-left: 10rem !important;
    padding-right: 10rem; }
  #offer-logo {
    margin: 10rem 0 0 10rem !important; } }

#prod-videos {
  margin: 8rem auto; }
  #prod-videos .pv-copy {
    margin-top: 0 !important;
    margin: 6rem auto; }
    #prod-videos .pv-copy h5 {
      margin: 3rem auto; }

.vid-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px 20px; }

.vid-preview {
  height: 20rem;
  border-radius: .1rem;
  background-position: top; }

.vid-1 {
  grid-area: 1 / 1; }
  .vid-1 .vid-preview {
    background-image: url("../../images/video/01-vid.PNG"); }

.vid-2 {
  grid-area: 1 / 2; }
  .vid-2 .vid-preview {
    background-image: url("../../images/video/02-vid.PNG"); }

.vid-3 {
  grid-area: 1 / 3; }
  .vid-3 .vid-preview {
    background-image: url("../../images/video/03-vid.PNG"); }

.vid-4 {
  grid-area: 2 / 1; }
  .vid-4 .vid-preview {
    background-image: url("../../images/video/01-vid.PNG"); }

.vid-5 {
  grid-area: 2 / 2; }
  .vid-5 .vid-preview {
    background-image: url("../../images/video/02-vid.PNG"); }

.vid-6 {
  grid-area: 2 / 3; }
  .vid-6 .vid-preview {
    background-image: url("../../images/video/03-vid.PNG"); }

.vid-watch {
  background-color: #EBEAEA;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  border-radius: .1rem; }

.vid-copy {
  margin-top: 1rem; }

header {
  height: 100%;
  position: relative;
  overflow: hidden; }
  header video {
    width: 100vw; }

.h-copy {
  color: #FFF;
  position: absolute;
  top: 12rem;
  left: 6rem; }
  .h-copy h1 {
    margin-top: 0.5rem; }
  .h-copy h3 {
    margin: 1rem 0 3rem; }
  .h-copy h5 {
    line-height: 1.5; }

#h-logo {
  width: 20rem; }

@media (orientation: portrait) {
  header {
    height: auto; }
    header video {
      width: auto;
      height: 100vh; }
  .h-copy {
    position: absolute;
    top: 12rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .h-copy h5 {
      display: none; } }

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .h-copy {
    width: 65rem !important; } }

nav {
  width: 100vw;
  position: absolute;
  z-index: 10001; }

.nav-content {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 6rem; }

.nav-links {
  display: flex; }
  .nav-links li:not(:last-child) {
    padding-right: 2.5rem; }
  .nav-links a,
  .nav-links a:hover {
    color: #FFF; }

.burger {
  display: none; }
  .burger .line {
    width: 4rem;
    height: .5rem;
    border-radius: .2rem;
    background-color: #FFF;
    margin: 0.5rem 0;
    transition: all .3 sec ease; }

#nav-logo {
  width: 8rem;
  height: 3rem;
  margin-top: 1rem; }

@media (orientation: portrait) {
  nav hr {
    display: none; }
  .nav-content {
    height: 10vh; }
  .nav-links {
    position: absolute;
    right: 0;
    top: 10vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform .5sec ease-in; }
    .nav-links li {
      padding: 2rem 3rem;
      opacity: 0; }
      .nav-links li:first-child {
        padding-top: 3rem; }
      .nav-links li a {
        font-size: 2.5rem; }
  .burger {
    display: block;
    cursor: pointer; } }

.nav-active {
  transform: translateX(0%);
  z-index: 9999;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8); }

.nav-fullW {
  height: 100vh; }

.link-show {
  opacity: 1 !important; }

.toggle .line:nth-child(1) {
  transform: rotate(-45deg) translate(-0.5rem, 1rem); }

.toggle .line:nth-child(2) {
  opacity: 0; }

.toggle .line:nth-child(3) {
  transform: rotate(45deg) translate(-0.5rem, -1rem); }

/* 
// animate links in Js
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}
 */
.prod-band {
  height: 8rem;
  background-color: #C4398D;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -.5rem; }

.pb-mobile {
  display: none; }

@media (orientation: portrait) {
  .pb-desktop {
    display: none; }
  .pb-mobile {
    display: inline;
    margin: auto; } }
