// CENTERING
@mixin centerer-xy($center-x: true, $center-y: true) {
  position: absolute;
  @if ($center-x and $center-y) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($center-x) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($center-y) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// SPACING
@mixin spacer-sm {
  margin: 3rem auto;
}

@mixin spacer-md {
  margin: 6rem auto;
}

@mixin spacer-lg {
  margin: 8rem auto;
}

// MODAL LAYOUT
@mixin modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}