@mixin centerer-xy($center-x: true, $center-y: true) {
  position: absolute;
  @if ($center-x and $center-y) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($center-x) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($center-y) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

// SPACING
@mixin spacer-sm {
  margin: 3rem auto;
}

@mixin spacer-md {
  margin: 6rem auto;
}

@mixin spacer-lg {
  margin: 8rem auto;
}

// BASIC FLEXBOX 
// (es. splitpage)
@mixin row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

@mixin col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

@mixin double-col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 3;
}