#buy {
  margin-bottom: 8rem;

  h2 {
    margin-bottom: 3rem;
  }
}

.buy-cards {
  display: flex;
  justify-content: space-between;
}

.buy-card {
  width: 48rem;
  height: 51rem;
  background-color: $dExtraLightGrey;
  padding: 2rem;
  border-radius: .4rem;

  .prod-accessories {
    display: flex;
    justify-content: space-between;
  }

  .prod-price {
    margin-bottom: 2rem;

    p {
      font-size: 1rem;
    }
  }

  h3 {
    margin: 1rem 0;
  }

  hr {
    border: 0;
    border-top: .1rem solid rgba(0,0,0,.1);
    width: 100%;
    margin: 2rem 0;
  }
}



.buy-img-pink,
.buy-img-purple {
  background-size: contain;
  width: -webkit-fill-available;
  height: 22rem;
}

.buy-img-pink {
  background-image: url('../images/cards/prod-pink.jpg');
}

.buy-img-purple {
  background-image: url('../images/cards/prod-purple.jpg');
}

.buy-btns {
  display: flex;
  justify-content: space-between;

  .buy-btn,
  .learn-btn {
    padding: 1.5rem;
    border-radius: .2rem;
    text-align: center;
    cursor: pointer;
    flex-grow: 1;
  }
  
  .buy-btn {
    background-color: $dMain;
    color: $dWhite;
    margin-right: .2rem;
  }
  
  .learn-btn {
    background-color: $dLightGrey;
    color: $dDarkGrey;
    margin-left: .2rem;
  }
}

#accessoriesPink,
#accessoriesPurple {
  display: none;
  
  .acc-1,
  .acc-2,
  .acc-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;

    img {
      width: 5rem;
      border: .5px solid $dLightGrey;
    }
  }
}


#buyTogglePink,
#buyTogglePurple {
  font-weight: 800;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .buy-card {
    width: auto;
    height: auto;
    margin-top: 1rem;
  }
}