#p-buy {
  margin-bottom: 8rem;

  // @include spacer-sm;
}

.buy-cards {
  display: flex;
  justify-content: space-between;
}

.buy-card {
  width: 48rem;
  background-color: $dExtraLightGrey;
  padding: 2rem;
  border-radius: .4rem;

  .prod-accessories {
    display: flex;
    justify-content: space-between;
  }

  .prod-price {
    margin-bottom: 2rem;

    p {
      font-size: 1rem;
    }
  }

  h3 {
    margin-bottom: 1rem;
  }

  hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    width: 100%;
    margin: 2rem 0;
  }
}



.buy-img-pink,
.buy-img-purple {
  background-size: contain;
  width: -webkit-fill-available;
  height: 22rem;
}

.buy-img-pink {
  background-image: url('../images/cards/prod-pink.jpg');
}

.buy-img-purple {
  background-image: url('../images/cards/prod-purple.jpg');
}

.buy-btns {
  display: flex;
  justify-content: space-between;

  .buy-btn,
  .learn-btn {
    padding: 1.5rem;
    border-radius: .2rem;
    text-align: center;
    cursor: pointer;
    flex-grow: 1;
  }
  
  .buy-btn {
    background-color: $dMain;
    color: $dWhite;
    margin-right: .2rem;
  }
  
  .learn-btn {
    background-color: $dLightGrey;
    color: $dDarkGrey;
    margin-left: .2rem;
  }
}


#buyToggle {
  font-weight: 800;
  cursor: pointer;
}