#prod-features {
  width: $containerWidth;
  margin: auto;
  overflow: hidden;
  @include spacer-lg;

  .container {
    display: flex;
  }
}

.pf-copy {
  width: 35vw;

  h2 {
    margin-bottom: 2rem;
  }
}

.pf-img img {
  margin-left: 15rem;
}

.img-btn, 
.pick-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.pick-btn {
  position: absolute;
  right: 55rem;
}

.cp-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid $dLightGrey;
  box-shadow: inset 0 0 0 2px $dWhite;
  margin: 0 .5rem;
  cursor: pointer;
}

#btn-pink {
  background: linear-gradient( -45deg, $dMain, $dMain 49%, $dWhite 49%, $dWhite 51%, #bbb 51% ); 
}

#btn-purple {
  background: linear-gradient( -45deg, $dBlack, $dBlack 49%, $dWhite 49%, $dWhite 51%, #694CA8 51% ); 
}

// show features interactive
.plus-btn {
  width: 3rem;
  height: 3rem;
  color: $dMain;
  background-color: rgba($dDarkGrey, .4);
  border-radius: 50%;
  font-size: 2rem;
  position: absolute;

  &:nth-child(1) {
    right: 33rem;
  }

  &:nth-child(2) {
    left: 75rem;
  }

  &:nth-child(3) {
    right: 36rem;
  }

  &:nth-child(4) {
    left: 75rem;
  }

  &:nth-child(5) {
    right: 40rem;
  }

  &:nth-child(6) {
    left: 78rem;
  }

  &:nth-child(7) {
    right: 38rem;
  }
}

.pf-text {
  margin-top: 6rem;
  display: none;
  background-color: $dDarkGrey;
  color: $dWhite;
  padding: 3.5rem 2.5rem;

  a {
    font-size: 1.6rem;
    color: $dWhite;
  }
}

.txt-show {
  display: block !important;
}

@media (orientation: portrait) {
  .pf-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .img-btn {
    display: block;

    img {
      height: 48rem;
      position: absolute;
      left: 35%;
      transform: translate(-50%, 0);
    }
  }

  .plus-btn {
    display: none;
  }
}
