#p-reviews {
  @include spacer-lg;
}

.r-body {
  background-color: $dExtraLightGrey;
  padding: 40px;
  margin-bottom: 40px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  .r-top {
    display: flex;
    justify-content: space-between;
    font-style: italic;
  }

  h5 {
    margin-bottom: 20px;
  }

  i {
    color: $dGold;
    margin-bottom: 20px;
    padding: 0 2px;
  }
}

// speech bubble effect
.r-body:before {
  content: '';
  position: absolute;
  transform: rotate(45deg);
  width: 36px;
  height: 36px;
  bottom: -12px;
  z-index: -1;
}

.r-body:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 15%;
	width: 0;
	height: 0;
	border: 26px solid transparent;
	border-top-color: $dExtraLightGrey;
	border-bottom: 0;
	border-left: 0;
	margin-left: -13px;
	margin-bottom: -26px;
}


.rate {
  display: flex;
  align-items: baseline;

  #rate-val {
    font-size: 120px;
  }

  #rate-bench {
    font-size: 70px;
    font-weight: 300;
  }
}