#styles {
  @include spacer-lg;

  .pv-copy {
    margin-top: 0 !important;
    @include spacer-sm;

    h5 {
      @include spacer-sm;
      font-weight: 400;
    }
  }
}

.big-vid-preview {
  background-image: url('../images/video/big-vid.jpg');
}

.vid-grid {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 4rem 2rem; 
}

.vid-preview {
  height: 20rem;
  border-radius: .1rem;
  background-position: top;
  position: relative;
  overflow: hidden;
}

.style-vid {
  height: 20rem;
  width: 37rem;
  margin-left: -1rem;
  display: none;
}

.vid-1 {
  grid-area: 1 / 1 ;

  .vid-preview {
    background-image: url('../images/video/01-vid.PNG');
  }
}

.vid-2 {
  grid-area: 1 / 2;

  .vid-preview {
    background-image: url('../images/video/02-vid.PNG');
  }
}

.vid-3 {
  grid-area: 1 / 3;

  .vid-preview {
    background-image: url('../images/video/03-vid.PNG');
  }
}

.vid-4 {
  grid-area: 2 / 1;

  .vid-preview {
    background-image: url('../images/video/01-vid.PNG');
  }
}

.vid-5 {
  grid-area: 2 / 2;

  .vid-preview {
    background-image: url('../images/video/02-vid.PNG');
  }
}

.vid-6 {
  grid-area: 2 / 3;

  .vid-preview {
    background-image: url('../images/video/03-vid.PNG');
  }
}

.vid-watch {
  background-color: $dLightGrey;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  border-radius: .1rem;
  text-transform: uppercase;
  position: absolute;
  top: 13.5rem;
  left: 1.5rem;
}

.vid-copy h4 {
  font-size: 1.8rem;
  margin: 1rem 0 .5rem;
}

@media (orientation: portrait) {
  .vid-grid {
    display: grid; 
    grid-template-columns: 1fr 0; 
    grid-template-rows: repeat(6, 1fr); 
    gap: 4rem 0; 
  }

  .vid-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .vid-2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  .vid-3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  
  .vid-4 {
    grid-area: 4 / 1 / 5 / 2;
  }
    
  .vid-5 {
    grid-area: 5 / 1 / 6 / 2;
  }

  .vid-6 {
    grid-area: 6 / 1 / 7 / 2;
  }
}

#modalContainer {
  display: none;
}

#modalVideo {
  @include modal;
  z-index: 1001;
}

#closeModal {
  position: absolute;
  right: 20em;
  top: 5em;
  background-color: transparent;
  color: $dWhite;
  height: 3em;
}
