#prod-videos {
  @include spacer-lg;

  .pv-copy {
    margin-top: 0 !important;
    @include spacer-md;

    h5 {
      @include spacer-sm;
    }
  }
}

.vid-grid {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 40px 20px; 
}

.vid-preview {
  height: 20rem;
  border-radius: .1rem;
  background-position: top;
}

.vid-1 {
  grid-area: 1 / 1 ;

  .vid-preview {
    background-image: url('../../images/video/01-vid.PNG');
  }
}

.vid-2 {
  grid-area: 1 / 2;

  .vid-preview {
    background-image: url('../../images/video/02-vid.PNG');
  }
}

.vid-3 {
  grid-area: 1 / 3;

  .vid-preview {
    background-image: url('../../images/video/03-vid.PNG');
  }
}

.vid-4 {
  grid-area: 2 / 1;

  .vid-preview {
    background-image: url('../../images/video/01-vid.PNG');
  }
}

.vid-5 {
  grid-area: 2 / 2;

  .vid-preview {
    background-image: url('../../images/video/02-vid.PNG');
  }
}

.vid-6 {
  grid-area: 2 / 3;

  .vid-preview {
    background-image: url('../../images/video/03-vid.PNG');
  }
}

.vid-watch {
  background-color: $dLightGrey;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  border-radius: .1rem;
}

.vid-copy {
  margin-top: 1rem;
}