*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

html {
  /* font-size: 10px;
   means that 1 rem is always 10px */
  font-size: 62.5%;
  /* default browser font size is 16px
  .625 * 16 = 10
  now the default font size is 10px */ 
  width: 100vw;
}

a,
a:hover {
  color: $dBlack;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.fa, 
.fab, 
.fad, 
.fal, 
.far, 
.fas{
  display: inline !important;
}

video {
  background-color: transparent !important;
}

video:focus { 
  outline: none !important; 
}

