h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cabin', sans-serif;
}

h1 {
  font-size: 4.5rem;
}

/* h2 {
  font-size: ;
} */

h3 {
  font-size: 2.5rem;
}

/* h4 {
  font-size: ;
} */

h5 {
  font-size: 1.5rem;
  font-weight: 400;
}