// BANDS VARIABLES
$mainBandHeight: 8rem;

// PROD (main)BAND 
#prod-band {
  height: $mainBandHeight;
  background-color: $dMain;
  color: $dWhite;
  @include flex-center;
  margin-top: -.5rem;
}

// ALL (main)BANDS COPY
.pb-mobile {
  display: none;
}

@media (orientation: portrait) {
  .pb-desktop {
    display: none;
  }

  .pb-mobile {
    display: inline;
    margin: auto;
  }
}

// COMPETITOR VIDEO & (main)BAND
.comp-band {
  height: $mainBandHeight;
  background-color: $dMain;
  color: $dWhite;
  @include flex-center;
  position: relative;

  h3 {
    width: 100vw;
    text-align: center;
  }
}

.competitor-vid {
  width: 100%;
}

.cv-copy {
  text-align: center;
  @include spacer-sm;
}

.watch-btn {
  color: $dWhite;
  display: flex;
  justify-content: center;
  cursor: pointer;
  @include spacer-md;

  .w-play {
    height: 8.5rem;
    width: 8.5rem;
    background-color: $dDarkGrey;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .w-copy {
    height: 8.5rem;
    width: 34rem;
    background-color: $dBlack;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// PRESS (grey)BAND

.press-band {
  height: 32rem;
  background-color: $dDarkGrey;
  color: $dWhite;
  @include flex-center;
}

.press-band hr {
  margin: .2rem auto;
  width: 20vw;
}

.pb-copy {
  width: 60vw;
  text-align: center;
}

.pb-copy h2 {
  font-weight: 300;
}

.pb-copy h4 {
  font-weight: 400;
}

@media (orientation: portrait) {
  .press-band {
    height: 58rem;
  }
}
