// PROD BAND 
.prod-band {
  height: 8rem;
  background-color: $dMain;
  color: $dWhite;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -.5rem;
}

.pb-mobile {
  display: none;
}

@media (orientation: portrait) {
  .pb-desktop {
    display: none;
  }

  .pb-mobile {
    display: inline;
    margin: auto;
  }
}
